{% extends 'base.html.twig' %}

{% block title %}WebBoutique{% endblock %}

{% block content %}
<h1>Mon panier</h1>
<p>Retrouvez l'ensamble des produits que vous avez ajouté à votre panier.</p>
    {# {{ dump(cart) }} #}
    {% set total = null %}
    {% if cart|length > 0 %}
        <table class="table">
        <thead>
            <tr>
            <th scope="col">Produit</th>
            <th scope="col"></th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for product in cart %}
            <tr>
            <th><img src="{{ asset('uploads/' ~ product.product.illustration) }}" alt="{{ product.product.name }}" height="75px"></th>
            <th>
                {{ product.product.name }}<br>
                <small>{{ product.product.subtitle }}</small>
            </th>
            <td>
                <a href="{{ path('subtract_from_cart', {'id': product.product.id}) }}"><img src="{{ asset('assets/img/minus.png') }}" alt="minus" height="15px"></a>
                x {{ product.quantity }}
                <a href="{{ path('add_to_cart', {'id': product.product.id}) }}"><img src="{{ asset('assets/img/plus.png') }}" alt="plus" height="15px"></a>
            </td>
            <td>{{ (product.product.price / 100)|number_format(2, ',', '.') }} EUR</td>
            <td>{{ ((product.product.price * product.quantity) / 100)|number_format(2, ',', '.') }} EUR</td>
            <td><a href="{{ path('delete_from_cart', {'id': product.product.id}) }}"><img src="{{ asset('assets/img/bin.png') }}" alt="poubelle" height="18px"></a></td>
            </tr>
            {% set total = total + (product.product.price * product.quantity) %}
        {% endfor %}
        </tbody>
        </table>

        <div class="text-right mb-5">
            <b>Nombre de produits : {{ cart|length }}</b><br>
            <b>Total de mon panier : {{ (total / 100)|number_format(2, ',', '.') }} EUR</b>
            <a href="{{ path('order') }}" class="btn btn-success btn-block mt-3">Valider mon panier</a>
        </div>
    {% else %}
        <p><b>Votre panier est vide.</b></p>
    {% endif %}
{% endblock %}
