{% extends 'base.html.twig' %}

{% block title %}Recapitulatif de ma commande{% endblock %}

{% block content %}
    <h1>Mon récapitulatif</h1>
    <p>Verifiez votre informations avant de payer votre commande.</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            
                     
        </div>
        <div class="col-md-6">
            <p><b>Ma commande</b></p>
            {# {{ dump(cart) }} #}
            {% set total = null %}
            {% for product in cart %}
                <div class="row">
                    <div class="col-md-2">
                        <img src="{{ asset('uploads/' ~ product.product.illustration) }}" alt="{{ product.product.name }}" height="75px">
                    </div>
                    <div class="col-md-7">
                        {{ product.product.name }}<br>
                        <small>{{ product.product.subtitle }}</small><br>
                        x {{ product.quantity }}
                    </div>
                    <div class="col-md-3">
                        {{ ((product.product.price)/100)|number_format(2, ',', '.') }} €
                    </div>
                </div>
                <hr>
                <div>
                    <p><b>Sous-Total :</b> {{ (((product.product.price)*(product.quantity))/100)|number_format(2, ',', '.') }} €</p>
                    <p><b>Livraison :</b> {{ carrierPrice }}</p>
                </div>
                {% set total = total + (product.product.price * product.quantity) %}
            {% endfor %}
            <a href="{{ path('order_recap') }}" class="btn btn-success btn-block">Payer {{ ((total / 100) + carrierPrice)|number_format(2, ',', '.') }} €</a>
        </div>
    </div>
        
{% endblock %}
