{% extends 'base.html.twig' %}

{% block javascript %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block title %}Paiement de ma commande - Web Boutique{% endblock %}

{% block content %}
    <h1>Mon récapitulatif</h1>
    <p>Verifiez votre informations avant de payer votre commande.</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <p><b>Mon adresse de livraison</b></p>
            {{ delivery.name }}<br>
            {{ delivery.phone }}<br>
            {{ delivery.address }}<br>
            {{ delivery.zip }} - {{ delivery.city }}<br>
            {{ delivery.country }}
            <hr>
            <p><b>Mon transporteur</b></p>
            {{ carriers.name }}<br>
            {{ carriers.description }}<br>
            {{ carriers.price }}
        </div>
        <div class="col-md-6">
            <p><b>Ma commande</b></p>
            {# {{ dump(cart) }} #}
            {% set total = null %}
            {% for product in cart %}
                <div class="row">
                    <div class="col-md-2">
                        <img src="{{ asset('uploads/' ~ product.product.illustration) }}" alt="{{ product.product.name }}" height="75px">
                    </div>
                    <div class="col-md-7">
                        {{ product.product.name }}<br>
                        <small>{{ product.product.subtitle }}</small><br>
                        x {{ product.quantity }}
                    </div>
                    <div class="col-md-3">
                        {{ ((product.product.price)/100)|number_format(2, ',', '.') }} €
                    </div>
                </div>
                <hr>
                <div>
                    <p><b>Sous-Total :</b> {{ (((product.product.price)*(product.quantity))/100)|number_format(2, ',', '.') }} €</p>
                    <p><b>Livraison :</b> {{ carrierPrice }}</p>
                </div>
                {% set total = total + (product.product.price * product.quantity) %}
            {% endfor %}
            <form method="POST">
                <a href="{{path('stripe_create_session', {'reference': reference})}}" class="btn btn-success btn-block">Payer {{ ((total / 100) + carrierPrice)|number_format(2, ',', '.') }} €</a>
            </form>
        </div>
    </div>
{% endblock %}